@page "/meal-display"
@inject MealService MealService

<h3>dostępne obiady</h3>


    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Składniki</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var meal in MealService.GetMeals())
        {
            <tr>
                <td>@meal.Name</td>
                <td>
                    <ul>
                        @foreach (var ingredient in meal.Ingredients)
                        {
                            <li>@ingredient</li>
                        }
                    </ul>
                </td>
            </tr>
        }
        </tbody>
    </table>
   

@code {
    private List<Meal> Meals;

    protected override void OnInitialized()
    {
        RandomizeMeal();
    }

    private void RandomizeMeal()
    {
        Meals = MealService.GetMeals();
    }
}